<div id="generationsuccess" class="vw-100 vh-100">
    <div class="position-absolute top-50 start-50 translate-middle text-center w-100">
        <div id="generationsuccess_icon"></div>

        <p>
            Le planning a été généré et exporté avec succès ! ✅
        </p>

        <p>
            Il a été enregistré à l'emplacement que tu as demandé, c'est-à-dire :
            <br />
            <span id="generationsuccess_savepath"></span>
        </p>
    </div>

    <div class="position-absolute" style="bottom: 10px; right: 10px;">
        <button class="btn btn-primary" type="button" id="generationsuccess_button_quit">Quitter l'application</button>
    </div>
</div>