<div id="readyforgeneration" class="vw-100 vh-100">
    <div class="position-absolute top-50 start-50 translate-middle text-center w-100">
        <div id="readyforgeneration_icon"></div>

        <p>
            Tout est prêt pour générer le planning ! 🥳
            <br />
            Dès que tu le souhaites, clique sur le bouton pour lancer la création du planning.
            <br />
            Tu peux également revenir en arrière si tu souhaites effectuer des modifications.
        </p>

        <p>
            Pendant la génération, le résultat s'affichera à l'écran en direct. <b><u>Ne quitte pas l'application pendant ce temps.</u></b>
            <br />
            Le programme reviendra à son état d'origine automatiquement, et tu seras informé de la réussite, ou non, de la génération.
        </p>
    </div>

    <div class="position-absolute" style="bottom: 10px; right: 10px;">
        <button class="btn btn-secondary" type="button" id="readyforgeneration_button_previous">Revenir en arrière</button>
        <button class="btn btn-primary" type="button" id="readyforgeneration_button_next">Générer le planning</button>
    </div>
</div>