<div id="update" class="vw-100 vh-100">
    <div class="position-absolute top-50 start-50 translate-middle text-center w-100">
        <div id="update_appicon"></div>

        <p id="update_progresstext">Vérification des mises à jour de l'application...</p>

        <div id="update_progressbar" class="progress w-50 mx-auto">
            <div id="update_progressbarvalue" class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"></div>
        </div>
    </div>
</div>