<!DOCTYPE html>
<html lang="fr" data-bs-theme="dark">
    <head>
        <title>Générateur de planning de stream</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        {% include "containers/window_buttons.html.twig" %}

        {% include "steps/update.html.twig" %}
        {% include "steps/introduction.html.twig" %}
        {% include "steps/identity.html.twig" %}
        {% include "steps/planning.html.twig" %}
        {% include "steps/readyforgeneration.html.twig" %}
        {% include "steps/generationsuccess.html.twig" %}
        {% include "steps/generationerror.html.twig" %}

        {% include "modals/planning_newstream.html.twig" %}

        <div id="generatedplanning"></div>
    </body>
</html>
