<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="StreamScheduleGenerator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <StreamScheduleGenerator.Properties.Settings>
            <setting name="scheduleBackgroundImage" serializeAs="String">
                <value />
            </setting>
            <setting name="scheduleColorTitles" serializeAs="String">
                <value />
            </setting>
            <setting name="scheduleColorDayOff" serializeAs="String">
                <value>#FF0000</value>
            </setting>
            <setting name="scheduleColorDayOn" serializeAs="String">
                <value>#FFFFFF</value>
            </setting>
            <setting name="scheduleColorDayOnConstrast" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="scheduleFont" serializeAs="String">
                <value />
            </setting>
        </StreamScheduleGenerator.Properties.Settings>
    </userSettings>
</configuration>