<div class="modal fade" id="planning_newstream_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="planning_newstream_modal_title">Ajouter un nouveau stream</h1>
            </div>

            <div class="modal-body">
                <p>Pour ajouter un nouveau stream, sélectionne la date et l'heure où le stream aura lieu, ainsi que le ou les jeux qui seront diffusés. Sauvegarde ensuite le stream pour le voir apparaître dans la liste.</p>

                <div id="planning_newstream_modal_error" class="d-none alert alert-danger"></div>

                <form id="planning_newstream_modal_form">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="date" class="form-control" required id="planning_newstream_date">
                                <label for="planning_newstream_date">Date du stream</label>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="time" class="form-control" required id="planning_newstream_hour">
                                <label for="planning_newstream_hour">Heure du stream</label>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-2">
                        <div class="col-sm-12">
                            Jeux

                            <br />

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="planning_newstream_game_genshin" value="genshin">
                                <label class="form-check-label" for="planning_newstream_game_genshin">Genshin Impact</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="planning_newstream_game_hunt" value="hunt">
                                <label class="form-check-label" for="planning_newstream_game_hunt">Hunt: Showdown</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="planning_newstream_game_lol" value="lol">
                                <label class="form-check-label" for="planning_newstream_game_lol">League of Legends</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="planning_newstream_game_valorant" value="valorant">
                                <label class="form-check-label" for="planning_newstream_game_valorant">Valorant</label>
                            </div>

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="planning_newstream_game_wakfu" value="wakfu">
                                <label class="form-check-label" for="planning_newstream_game_wakfu">Wakfu</label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" id="planning_newstream_modal_add">Ajouter le stream</button>
            </div>
        </div>
    </div>
</div>