#introduction {
    #introduction_appicon {
        width: 150px;
        height: 150px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        background-image: url('../../../img/app_icon.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
    }
}