#planning {
    display: none;

    #planning_eventlist {
        .planning_game_icon {
            display: inline-block;
            width: 70px;
            height: 70px;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            vertical-align: middle;
        }

        .planning_game_icon_genshin {
            background-image: url('../../../img/games/genshin/game_genshin_icon.jpg');
        }

        .planning_game_icon_hunt {
            background-image: url('../../../img/games/hunt/game_hunt_icon.png');
        }

        .planning_game_icon_lol {
            background-image: url('../../../img/games/lol/game_lol_icon.png');
        }

        .planning_game_icon_valorant {
            background-image: url('../../../img/games/valorant/game_valorant_icon.png');
        }

        .planning_game_icon_wakfu {
            background-image: url('../../../img/games/wakfu/game_wakfu_icon.png');
        }
    }

    #planning_button_addstream {
        display: none;
    }
}