.step {
  display: none;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  .step_title {
    position: absolute;
    top: 10px;
    left: 10px;
  }

  .step_content {
    position: absolute;
    top: 68px;
    right: 0;
    left: 0;
    bottom: 58px;
    overflow-x: hidden;
    overflow-y: auto;
    --mask-height: 32px;
    padding: 42px 10px var(--mask-height);
    --mask-image-content: linear-gradient(
      to bottom,
      transparent,
      black var(--mask-height),
      black calc(100% - var(--mask-height)),
      transparent
    );
    --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;
    --mask-image-scrollbar: linear-gradient(black, black);
    --mask-size-scrollbar: var(--scrollbar-width) 100%;
    -webkit-mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
    -webkit-mask-size: var(--mask-size-content), var(--mask-size-scrollbar);
    -webkit-mask-position: 0 0, 100% 0;
    -webkit-mask-repeat: no-repeat, no-repeat;
  }

  .step_leftmenu {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }

  .step_menu {
    position: absolute;
    bottom: 10px;
    right: 10px;
  }
}
