.step {
    display: none;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .step_title {
        position: absolute;
        top: 10px;
        left: 10px;
    }

    .step_content {
        position: absolute;
        top: 68px;
        right: 0;
        left: 0;
        bottom: 58px;
        padding-top: 42px;
        padding-left: 10px;
        padding-right: 10px;
        overflow-x: hidden;
        overflow-y: auto;

        --mask-height: 32px;
        padding-bottom: var(--mask-height);

        /* The CSS mask */

        /* The content mask is a linear gradient from top to bottom */
        --mask-image-content: linear-gradient(
                        to bottom,
                        transparent,
                        black var(--mask-height),
                        black calc(100% - var(--mask-height)),
                        transparent
        );

        /* Here we scale the content gradient to the width of the container
      minus the scrollbar width. The height is the full container height */
        --mask-size-content: calc(100% - var(--scrollbar-width)) 100%;

        /* The scrollbar mask is a black pixel */
        --mask-image-scrollbar: linear-gradient(black, black);

        /* The width of our black pixel is the width of the scrollbar.
      The height is the full container height */
        --mask-size-scrollbar: var(--scrollbar-width) 100%;

        /* Apply the mask image and mask size variables */
        -webkit-mask-image: var(--mask-image-content), var(--mask-image-scrollbar);
        -webkit-mask-size: var(--mask-size-content), var(--mask-size-scrollbar);

        /* Position the content gradient in the top left, and the
      scroll gradient in the top right */
        -webkit-mask-position: 0 0, 100% 0;

        /* We don't repeat our mask images */
        -webkit-mask-repeat: no-repeat, no-repeat;
    }

    .step_leftmenu {
        position: absolute;
        bottom: 10px;
        left: 10px;
    }

    .step_menu {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
}